{% extends 'base.html' %}

{% load static %}

{% block title %}
{{user.username}}
{% endblock title%}

{% block css_files %}
<link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'css/account/register.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"
    integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.css"
    integrity="sha512-C4k/QrN4udgZnXStNFS5osxdhVECWyhMsK1pnlk+LkC7yJGCqoYxW4mH3/ZXLweODyzolwdWSqmmadudSHMRLA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.js"
    integrity="sha512-LjPH94gotDTvKhoxqvR5xR2Nur8vO5RKelQmG52jlZo7SwI5WLYwDInPn1n8H9tR0zYqTqfNxWszUEy93cHHwg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css"
    integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css_files %}

{% block links %}
{% endblock links %}

{% block content %}
{% if user.is_authenticated and request.user == user_details %}
<div class="container">
    <div class="title">Bilgilerini Değiştir</div>
    <div class="content">
        <form enctype="multipart/form-data" action="{% url 'change_user' username=request.user %}" method="POST">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Kullanıcı Adı</span>
                    <input value="{{user_details.username}}" name="username" type="text">
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input value="{{user_details.email}}" name="email" type="text">
                </div>
            </div>

            <div class="image-input">
                <span class="details">Profil Resmi</span>
                </br>
                <input name="image" class="imagecrop" id="id_image" type="file" accept="image/png, image/jpeg, image/jpg">
            </div>
            
            <div class="form-group">
                <div id="image-box" class="image-container"></div>
                    <div class="button" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;">
                        <input type="button" value="Crop">
                    </div>
                <div class="button js-export img-export" id="confirm-btn">
                    <input type="submit" value="Güncelle">
                </div>
            </div>
            </form>

            <canvas class="js-editorcanvas"></canvas>
            <canvas class="js-previewcanvas"></canvas>

        </form>
    </div>
</div>
{% endif %}
<script>
    const imagebox = document.getElementById('image-box')
    const crop_btn = document.getElementById('crop-btn')
    const input = document.getElementById('id_image')

    input.addEventListener('change', () => {
        const img_data = input.files[0]
        const url = URL.createObjectURL(img_data)

        imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`

        const image = document.getElementById('image')

        document.getElementById('crop-btn').style.display = 'block'
        document.getElementById('confirm-btn').style.display = 'none'

        
        const cropper = new Cropper(image, {
            aspectRatio: 1 / 1,
            autoCropArea: 1,
            viewMode: 1,
            scalable: false,
            zoomable: false,
            movable: false,
            minCropBoxWidth: 200,
            minCropBoxHeight: 200,
        })

        crop_btn.addEventListener('click', () => {
            cropper.getCroppedCanvas().toBlob((blob) => {

                let fileInputElement = document.getElementById('id_image');
                let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                let container = new DataTransfer();
                container.items.add(file);
                fileInputElement.files = container.files;

                document.getElementById('image-box').style.display = 'none'
                document.getElementById('crop-btn').style.display = 'none'
                document.getElementById('confirm-btn').style.display = 'block'
            });
        });
    });
</script>
{% endblock content%}