{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock title%}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/account/register.css' %}" />
{% endblock css_files %}

{% block links %}
{% endblock links %}

{% block content %}
<div class="container">
    <div class="title">Giriş</div>
    <div class="content">
        <form enctype="multipart/form-data" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Kullanıcı Adı</span>
                    <input name="username" type="text" placeholder="Kullanıcı adını gir" required>
                </div>
                <div class="input-box">
                    <span class="details">Şifre</span>
                    <input name="password" type="password" placeholder="Şifreni gir" required>
                </div>
            </div>

            <div class="button">
                <input type="submit" value="Login">
            </div>

        </form>
    </div>
</div>

{% if error != none %}
<div class="alert alert-error" onclick="hideAlert()">
    <p>{{error}}</p><a href="#">
</div>
{% endif %}

{% endblock content%}