{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock title%}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/account/register.css' %}" />
{% endblock css_files %}

{% block links %}
{% endblock links %}

{% block content %}
<div class="container">
    <div class="title">Login</div>
    <div class="content">
        <form enctype="multipart/form-data" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Username</span>
                    <input name="username" type="text" placeholder="Enter your username" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input name="password" type="password" placeholder="Enter your password" required>
                </div>
            </div>

            <div class="button">
                <input type="submit" value="Login">
            </div>

        </form>
    </div>
</div>

{% endblock content%}