{% extends 'base.html' %}

{% load static %}

{% block title %}
{{selected_user.username}}
{% endblock title%}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/account/profile-page.css' %}">
{% endblock css_files %}

{% block links %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock links %}

{% block content %}

<div class="profile-block">
    <img src="{{ selected_user.profile.image.url }}" class="user-images" alt="Profile Image">
    <div class="username text">
        {{selected_user.username|title}}
    </div>
    <div class="user-infos text">
        {{selected_user.first_name|title}} <br>
        {{selected_user.last_name|title}}
    </div>
    <div class="profile-infos text">
        {{selected_user.date_joined}} tarihinden beri aramızda. 
        <br>
        🥳🥳🥳
    </div>
    <div class="title-infos text">
        Beğenenlerinin <br> 
        Sayısı <br>
        {{total_likes}} 💅
        <br>
    </div>
    {% if user.is_authenticated %}
        {% if user.username == selected_user.username%}
            <a href="{% url 'edit_user' user.username%}">
                <span class="material-symbols-outlined edit">
                    edit
                </span>
            </a>
        {% endif %}
    {% endif %}

</div>
{% endblock content%}