{% load static %}
{% load custom_filters %}


<div class="left-navbar" id="lnbar">
    {% for title in all_titles %}
    <div>
    <a class="ln-innerbox" href="{% url 'title' slug=title.slug %}?titleId={{ title.id }}" >
        {{title.title_name|title}}
    </a>
    </div>
    {% endfor %}
    <div class="ln-pager">
        
            {% if currentNumber|add:"-1" > 0 %}
            {% for number in currentNumber|add:"-1"|custom_range:lastIndex %}
                        {% if number == currentNumber and number != lastIndex %}
            <a href="http://localhost:8000?index={{ number }}&sort={{ sort }}" class="active">{{ number }}</a>
            {% else %}
            {% if number > currentNumber|add:"-2" and number != lastIndex and forloop.counter < 4 %} <a
                    href="http://localhost:8000?index={{ number }}&sort={{ sort }}">{{ number }}</a>
                {% endif %}
                {% endif %}
            {% endfor %}
            {% else %}
            {% for number in 1|custom_range:lastIndex %}
                        {% if number == currentNumber and number != lastIndex %}
            <a href="http://localhost:8000?index={{ number }}&sort={{ sort }}" class="active">{{ number }}</a>
            {% else %}
            {% if number > currentNumber|add:"-2" and number != lastIndex and forloop.counter < 3 %} <a
                    href="http://localhost:8000?index={{ number }}&sort={{ sort }}">{{ number }}</a>
                {% endif %}
                {% endif %}
            {% endfor %}
            {% endif %}
                <a href="http://localhost:8000?index={{ lastIndex }}&sort={{ sort }}">{{ lastIndex }}</a>
    </div>
</div>
<script src="{% static 'js/titles.js' %}"></script>