{% load static %}

<div class="header">
    <nav class="nav-row">
        <div class="nav-box">
            <a href="/">
                <img id="logo-img" src="{% static 'images/logo.png' %}" alt="tatlisozluk logo">
            </a>
        </div>
        <div class="nav-box search-box">deneme1</div>
        <div class="nav-box">Giriş Yap</div>
        <div class="nav-box">Kayıt Ol</div>
        <div class="nav-box" id="language">Dil</div>
    </nav>
    <nav class="nav-row">
        <div class="nav-box">deneme3</div>
        <div class="nav-box">deneme4</div>
        <div class="nav-box">deneme5</div>
    </nav>
</div>