{% load static %}

<div class="header">
    <nav class="nav-row">
        <div class="nav-box">
            <a href="/">
                <img
                    id="logo-img"
                    src="{% static 'images/logo.png' %}"
                    alt="tatlisozluk logo"
                />
            </a>
        </div>
        <div class="nav-box search-box">deneme1</div>
        {% if user.is_authenticated %}
        <div class="nav-box">
            <img
                id="userImage"
                src="{{user.profile.image.url}}"
                alt="profile pic"
                srcset=""
            />
        </div>
        <div class="nav-box">
            {{user.username|title}}
        </div>
        <div class="nav-box">
            <a href="{% url 'logout' %}">Çıkış Yap</a>
        </div>
        {% else %}
        <div class="nav-box">
            <a href="{% url 'login' %}">Giriş Yap</a>
        </div>
        <div class="nav-box">
            <a href="{% url 'register' %}">Kayıt Ol</a>
        </div>
        {% endif %}
        <div class="nav-box" id="language">
            <a>Dil</a>
        </div>
    </nav>
    <nav class="nav-row">
        <div class="nav-box">deneme3</div>
        <div class="nav-box">deneme4</div>
        <div class="nav-box">deneme5</div>
    </nav>
</div>
