{% load static %}
{% load custom_filters %}

<link rel="stylesheet" type="text/css" href="{% static 'css/title/title.css' %}">
{% csrf_token %}

<div class="title-detail-container">
{% for object in entries_profiles %}

    <div class="title entry-{{ object.entry.id }}">
        {% if forloop.first %}
        <p class="title-name">{{ title.title_name }}</p>
        {% endif %}
        {% if change_entry_id and object.entry.id == change_entry_id %}
        <!--  -->
        <div class="create-new-entry">
            <form id="edit-form" action="{% url 'editEntry' entry_id=object.entry.id %}" method="POST">
                {% csrf_token %}
                <div class="title-properties">
                    <textarea class="edit-entry-text" name="edit-entry-text" placeholder="Entry yazısı"></textarea>
                    <div class="create">
                        <input class="create-button edit-button" type="submit" value="Gönder">
                    </div>
                </div>
            </form>
            <p class="entry-text-counter-text"><span class="entry-text-counter">8000</span> karakteriniz kaldı.</p>
        </div>
        <!--  -->
        {% else %}

        <div class="message-edit">
            <p class="title-message">{{ object.entry.entry_text }}</p>
            {% if object.entry.author == user %}
            <div class="edit-delete">
                <i class="material-icons delete-entry" data-title-id="{{ title.id }}"
                    data-entry-id="{{ object.entry.id }}">delete</i>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="title-footer">
            <div class="like">
                {% if user.is_authenticated and object.entry|is_liked_by_user:user %}
                <button class="likeBtn liked" data-title-id="{{ title.id }}" data-entry-id="{{ object.entry.id }}">▲
                </button>
                <button class="dislikeBtn" data-title-id="{{ title.id }}"
                data-entry-id="{{ object.entry.id }}">▼</button>
                {% elif user.is_authenticated and object.entry|is_disliked_by_user:user %}
                <button class="likeBtn" data-title-id="{{ title.id }}" data-entry-id="{{ object.entry.id }}">▲</button>
                <button class="dislikeBtn disliked" data-title-id="{{ title.id }}"
                    data-entry-id="{{ object.entry.id }}">▼</button>
                {% else %}
                <button class="likeBtn" data-title-id="{{ title.id }}" data-entry-id="{{ object.entry.id }}">▲</button>
                <button class="dislikeBtn" data-title-id="{{ title.id }}"
                    data-entry-id="{{ object.entry.id }}">▼</button>
                {% endif %}
                <p class="count">{{ object.entry.likes }}</p>
            </div>
            <div class="author">
                <div class="date-author">
                    <p class="author">{{ object.entry.author.username }}</p>
                    <p class="date">{{ object.entry.created_date }}</p>
                </div>
                <a href="{% url 'user_details' username=object.profile.user.username %}">
                <img class="profile-image" src="{{ MEDIA_URL }}{{ object.profile.image.url }}" alt="">
                </a>
            </div>
        </div>
    </div>
    {% endfor %}


{% if user.is_authenticated %} 
    <div class="create-new-entry">
        <form id="create-form" action="{% url 'createEntry' title_id=title.id %}" method="POST">
            {% csrf_token %}
            <div class="title-properties">
                <textarea class="create-entry-text" name="entry_text" placeholder="Entry yazısı"></textarea>
                <div class="create">
                    <input class="create-button" type="submit" value="Gönder">
                </div>
            </div>
        </form>
        <p class="entry-text-counter-text"><span class="entry-text-counter">8000</span> karakteriniz kaldı.</p>
    </div>
    {% endif %}
</div>

<script src="{% static 'js/handleLike.js' %}"></script>
<script src="{% static 'js/handleEntryText.js' %}"></script>
<script src="{% static 'js/handleEditDelete.js' %}"></script>