{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/title/title.css' %}">
{% csrf_token %}

{% for object in entries_profiles %}

<div class="title">
    {% if forloop.first %}
    <p class="title-name">{{ title.title_name }}</p>
    {% endif %}
    <p class="title-message">{{ object.entry.entry_text }}</p>
    <div class="title-footer">
        <div class="like">
            <button class="likeBtn" data-title-id="{{ title.id }}" data-entry-id="{{ object.entry.id }}">▲</button>
            <button class="dislikeBtn" data-title-id="{{ title.id }}" data-entry-id="{{ object.entry.id }}">▼</button>
            <p class="count">{{ object.entry.likes }}</p>
        </div>
        <div class="author">
            <div class="date-author">
                <p class="author">{{ object.entry.author.username }}</p>
                <p class="date">{{ object.entry.created_date }}</p>
            </div>
            <img class="profile-image" src="{{ MEDIA_URL }}{{ object.profile.image.url }}" alt="">
        </div>
    </div>
</div>

{% endfor %}

<div class="create-new-entry">
    <form id="create-form" action="{% url 'createEntry' title_id=title.id %}" method="POST">
        {% csrf_token %}
        <div class="title-properties">
            <textarea class="create-entry-text" name="entry_text" placeholder="Entry yazısı"></textarea>
            <div class="create">
                <input class="create-button" type="submit" value="Gönder">
            </div>
        </div>
    </form>
    <p class="entry-text-counter-text"><span class="entry-text-counter">500</span> karakteriniz kaldı.</p>
</div>


<script src="{% static 'js/handleLike.js' %}"></script>
<script src="{% static 'js/handleEntryText.js' %}"></script>


