{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/title/title.css' %}">
{% csrf_token %}

{% for object in entries_profiles %}

<div class="title">
    {% if forloop.first %}
    <p class="title-name">{{ title.title_name }}</p>
    {% endif %}
    <p class="title-message">{{ object.entry.entry_text }}</p>
    <div class="title-footer">
        <div class="like">
            <button class="likeBtn" data-title-id="{{ title.id }}" data-entry-id="{{ object.entry.id }}">▲</button>
            <button class="dislikeBtn" data-title-id="{{ title.id }}" data-entry-id="{{ object.entry.id }}">▼</button>
            <p class="count">{{ object.entry.likes }}</p>
        </div>
        <div class="author">
            <div class="date-author">
                <p class="author">{{ object.entry.author.username }}</p>
                <p class="date">{{ object.entry.created_date }}</p>
            </div>
            <img class="profile-image" src="{{ MEDIA_URL }}{{ object.profile.image.url }}" alt="">
        </div>
    </div>
</div>

{% endfor %}


<script src="{% static 'js/handleLike.js' %}"></script>


