{% load static %}
{% load custom_filters %}


<link rel="stylesheet" type="text/css" href="{% static 'css/title/title.css' %}"/>


{% csrf_token %}
<div class="titles-container">
    {% if user.is_authenticated %}
    <div class="create-title title">
        <a class="no-underline" href="/title/new">Yeni bir entry oluştur!</a>
    </div>
    {% endif %}
    {% for object in titles_list %}
    <div class="title">
        <a
            class="no-underline"
            href="{% url 'title' slug=object.title.slug %}?titleId={{ object.title.id }}"
        >
            <p class="title-name">{{ object.title.title_name }}</p>
        </a>
        <p class="title-message">{{ object.entry.entry_text }}</p>
        <div class="title-footer">
            <div class="like">
                {% if user.is_authenticated and object.entry|is_liked_by_user:user %}
                <button class="likeBtn liked" data-title-id="{{ object.title.id }}" data-entry-id="{{ object.entry.id }}">▲
                </button>
                <button class="dislikeBtn" data-title-id="{{ object.title.id }}"
                data-entry-id="{{ object.entry.id }}">▼</button>
                {% elif user.is_authenticated and object.entry|is_disliked_by_user:user %}
                <button class="likeBtn" data-title-id="{{ object.title.id }}" data-entry-id="{{ object.entry.id }}">▲</button>
                <button class="dislikeBtn disliked" data-title-id="{{ object.title.id }}"
                    data-entry-id="{{ object.entry.id }}">▼</button>
                {% else %}
                <button class="likeBtn" data-title-id="{{ object.title.id }}" data-entry-id="{{ object.entry.id }}">▲</button>
                <button class="dislikeBtn" data-title-id="{{ object.title.id }}"
                    data-entry-id="{{ object.entry.id }}">▼</button>
                {% endif %}
                <p class="count">{{ object.entry.likes }}</p>
            </div>
            <div class="author">
                <div class="date-author">
                    <p class="author">{{ object.entry.author.username }}</p>
                    <p class="date">{{ object.entry.created_date }}</p>
                </div>
                <a href="{% url 'user_details' username=object.profile.user.username %}">
                <img
                    class="profile-image"
                    src="{{ MEDIA_URL }}{{ object.profile.image.url }}"
                    alt=""
                />
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{% static 'js/handleLike.js' %}"></script>
