:root {
    --brown: #AC703F;
    --lightBrown: hsl(27, 46%, 16%);
  }

body{
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100vw;
    top: 140px;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 300px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-bottom: 1px solid var(--brown);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: 1000;
}

.nav-row{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-box{
    padding: 10px;
}

.search-box{
    width: 30%;
    text-align: center;
}

#logo-img{
    width: auto;
    height: 100%;
    transform-origin: 100% 50%;
}

#userImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media (max-width: 630px) {
    .nav-box{
        font-size: 14px;
    }
}

