{% extends 'base.html' %} 
{% block title %}Register{% endblock title%}
{% block links %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.css" integrity="sha512-C4k/QrN4udgZnXStNFS5osxdhVECWyhMsK1pnlk+LkC7yJGCqoYxW4mH3/ZXLweODyzolwdWSqmmadudSHMRLA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.js" integrity="sha512-LjPH94gotDTvKhoxqvR5xR2Nur8vO5RKelQmG52jlZo7SwI5WLYwDInPn1n8H9tR0zYqTqfNxWszUEy93cHHwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock links %}
{% block content %}

<div class="container mt-3">
    <div class="col">
        <h1>Register</h1>
        <hr>
        <form enctype="multipart/form-data" action="{% url 'register' %}" method="post">
          {% csrf_token %}
            {% if error %}
            <div class="alert alert-danger">
              {{error}}
            </div>
            {% endif %}
            <div class="mb-3">
              <label for="username" class="form-label" value = {{username}}>Username</label>
              {{ form.username }}
            </div>
            <div class="mb-3">
              <label for="email" class="form-label" value = {{email}}>Email</label>
              {{ form.email }}
            </div>
            <div class="mb-3">
              <label for="password" class="form-label" value = {{password}}>Password</label>
              {{ form.password }}
            </div>
            <div class="mb-3">
              <label for="repassword" class="form-label" value = {{repassword}}>Re-Password</label>
              {{ form.repassword }}
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Select image</label>
              {{ form.image }}
            </div>
            <div class="form-group">
              <div id="image-box" class="image-container"></div>
              <button class="btn btn-primary" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
            </div>
              <button type="submit" class="btn btn-primary js-export img-export" id="confirm-btn" style="width: 100%">Register</button>
            </form>
            <canvas class="js-editorcanvas"></canvas>
            <canvas class="js-previewcanvas"></canvas>
    </div>
</div>

<script>
	const imagebox = document.getElementById('image-box')
	const crop_btn = document.getElementById('crop-btn')
	const input = document.getElementById('id_image')

	// When user uploads the image this event will get triggered
	input.addEventListener('change', ()=>{
	  // Getting image file object from the input variable
	  const img_data = input.files[0]
	  // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
	  // The new object URL represents the specified File object or Blob object.
	  const url = URL.createObjectURL(img_data)
	  
	  // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
	  imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`

	  // Storing that cropping view image in a variable
	  const image = document.getElementById('image')

	  // Displaying the image box
	  document.getElementById('image-box').style.display = 'block'
	  // Displaying the Crop buttton
	  document.getElementById('crop-btn').style.display = 'block'
	  document.getElementById('confirm-btn').style.display = 'none'

	  // Hiding the Post button

	  // Creating a croper object with the cropping view image
	  // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
	  // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
	  const cropper = new Cropper(image, {
    aspectRatio: 1 / 1,
	  autoCropArea: 1,
	  viewMode: 1,
	  scalable: false,
	  zoomable: false,
	  movable: false,
	  minCropBoxWidth: 200,
	  minCropBoxHeight: 200,
	  })

	  // When crop button is clicked this event will get triggered
	  crop_btn.addEventListener('click', ()=>{
	    // This method coverts the selected cropped image on the cropper canvas into a blob object
	    cropper.getCroppedCanvas().toBlob((blob)=>{
	      
	      // Gets the original image data
	      let fileInputElement = document.getElementById('id_image');
	      // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
	      let file = new File([blob], img_data.name,{type:"image/*", lastModified:new Date().getTime()});
	      // Create a new container
	      let container = new DataTransfer();
	      // Add the cropped image file to the container
	      container.items.add(file);
	      // Replace the original image file with the new cropped image file
	      fileInputElement.files = container.files;

	      // Hide the cropper box
	      document.getElementById('image-box').style.display = 'none'
	      // Hide the crop button
	      document.getElementById('crop-btn').style.display = 'none'
	      document.getElementById('confirm-btn').style.display = 'block'
	      });
	    });
	});
</script>

{% endblock content%}
