
.left-navbar{
    z-index: 10000;
    position: fixed;
    width: 20vw;
    height: Calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.titles-container{
    position: relative;
    padding-top: 20px;
    padding-left: 22.5vw;
    width: 75vw;
    display: flex;
    flex-direction: column;
}

.title-detail-container{
    padding-top: 20px;
    left: 5vw;
    position: relative;
    width: 90vw;
    display: flex;
    flex-direction: column;
}

.title {
    background-color: var(--brown);
    color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 7px;
    overflow: auto;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create-title {
    height: 7vh;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.title-message {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.title-footer {
    display: flex;
    align-items: center;
}

.title-footer>* {
    margin-left: 10px;
    margin-right: 10px;
    width: 100vw;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


.date {
    margin-left: 10px;
    font-size: 12px;
    color: #ffffff;
    opacity: 0.75;
}

.title-name {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.date-author {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.date-author>* {
    margin: 3px;
}

.like {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 14px;
}

.like button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.author {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.no-underline {
    text-decoration: none;
    color: #ffffff;
}

.create-new-entry {
    background-color: var(--brown);
    color: #ffffff;
    padding: 50px;
    justify-content: space-between;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-bottom: 3px;
    overflow: auto;
    border-radius: 7px;
}
.create-new-entry .create input:hover {
    background-color: white;
    color: var(--brown);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}   

.create-new-title {
    position: relative;
    background-color: var(--brown);
    color: #ffffff;
    padding: 10px;
    justify-content: space-between;
    padding-top: 5%;
    left: 10vw;
    top: 7vh;
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 7px;
}

.create-title-name {
    width: 50vw;
    height: 5vh;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.create-entry-text {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 35vh;
    border-radius: 7px;
    max-height: 35vh;
    resize: none;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.title-properties {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-properties>* {
    margin-bottom: 20px;
}

form .create {
    height: 45px;
    margin: 35px 0;
}


.create input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: hsl(26, 39%, 27%);
}
.create input:hover {
    background-color: white;
    color: var(--brown);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.message-edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.edit-delete {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
